        .box {
            width: 1200px;
            height: 500px;
            /* background-color: rgb(255, 0, 234); */
            /* background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%); */
            background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
            border-radius: 20px;
            position: relative;
            left: -5px;
            top: 10px;
        }
        
        .box1 {
            width: 700px;
            height: 500px;
            background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
            background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
            border-radius: 20px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            /* display: inline; */
            overflow: scroll;
            overflow-x: hidden;
            /* display: grid; */
            /* align-items: center; */
            /* justify-items: center; */
        }
        
        .title {
            position: relative;
            left: 300px;
            font-size: 30px;
        }
        
        .total {
            position: absolute;
            bottom: 0px;
            background-color: rgba(0, 0, 0, 0.5);
            width: 700px;
            height: 70px;
            border-bottom-left-radius: 20px;
        }
        
        .cartbox {
            width: 650px;
            height: 70px;
            background-color: rgba(0, 0, 0, 0.1);
            position: relative;
            top: 20px;
            left: 10px;
            margin: 10px;
            border-radius: 10px;
        }
        
        .outcircle {
            width: 60px;
            height: 60px;
            border-radius: 100px;
            background-color: #43e97b;
            position: relative;
            top: 5px;
            left: 5px;
        }
        
        .cardboximg {
            position: relative;
            top: 3px;
            left: 6px;
        }
        
        .kg {
            position: relative;
            top: -80px;
            left: 180px;
        }
        
        .bot {
            position: relative;
            top: 4px;
            /* left: 3px; */
        }
        
        .place {
            position: relative;
            top: -120px;
            left: 230px;
        }
        
        .reating {
            position: relative;
            top: -155px;
            left: 310px;
        }
        
        .order {
            position: relative;
            top: -215px;
            left: 390px;
        }
        
        .start {
            position: relative;
            top: -25px;
        }
        
        .amount {
            position: relative;
            top: -250px;
            left: 490px;
        }
        
        .remove {
            position: relative;
            width: 30px;
            height: 30px;
            background-color: rgba(0, 0, 0, 0);
            top: -325px;
            left: 600px;
            outline: none;
            /* border: 0px; */
            font-size: 20px;
        }
        
        .showname {
            position: relative;
            top: -45px;
            left: 80px;
        }
        
        .totalitems {
            position: relative;
            top: -40px;
            left: 100px;
            font-size: 30px;
            font-style: italic;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: black;
        }
        
        .totalit {
            position: relative;
            top: -75px;
            left: 300px;
            font-size: 30px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        
        .tona {
            position: relative;
            top: -110px;
            left: 380px;
            font-size: 30px;
            font-style: italic;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: black;
        }
        
        .totalam {
            position: relative;
            top: -145px;
            left: 580px;
            font-size: 30px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        
        .box2 {
            width: 500px;
            height: 500px;
            background-color: #43e97b;
            background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
            background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
            position: relative;
            left: 700px;
            top: -500px;
            border-radius: 20px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            overflow: scroll;
            overflow-x: hidden;
        }
        
        .box1::-webkit-scrollbar {
            display: none;
        }
        
        .box2::-webkit-scrollbar {
            display: none;
        }
        
        .credit {
            width: 400px;
            height: 200px;
            background-color: rgba(0, 0, 0, 0.1);
            position: relative;
            left: 50px;
            top: 50px;
            border-radius: 8px;
            /* background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%); */
            /* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */
            background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
            font-family: monospace;
        }
        
        .sim {
            position: relative;
            top: 45px;
            left: 15px;
        }
        
        .cartnum {
            position: relative;
            left: 25px;
            top: 35px;
            font-size: 30px;
        }
        
        .name {
            position: relative;
            top: 50px;
            left: 30px;
        }
        
        .date {
            position: relative;
            top: 33px;
            left: 330px;
        }
        
        .namecard {
            position: relative;
            left: 330px;
            font-style: italic;
            font-weight: 400px;
            font-size: 50px;
            top: -130px;
            left: 250px;
        }
        
        .tit {
            position: relative;
            top: 90px;
            font-size: 30px;
            color: black;
            left: 30px;
        }
        
        .fornum {
            position: relative;
            top: 100px;
            left: 30px;
        }
        
        .inputnum {
            position: relative;
            top: 130px;
            left: -10px;
            border: 0px;
            border-bottom: 20px;
            height: 20px;
        }
        
        .inputnum:focus {
            outline: 0px;
            /* color: #2575fc; */
        }
        
        .forname {
            position: relative;
            top: 160px;
            left: -280px;
        }
        
        .inputname {
            position: relative;
            top: 150px;
            left: 40px;
            border: 0px;
            border-bottom: 20px;
            height: 20px;
        }
        
        .inputname:focus {
            outline: 0px;
            /* color: #2575fc; */
        }
        
        .divdate {
            position: relative;
            top: 190px;
            left: 40px;
        }
        
        .fordate {
            position: relative;
            /* top: 190px;
            left: -218px; */
        }
        
        .inputDate {
            position: relative;
            /* top: 220px;
            left: -250px; */
            width: 150px !important;
            border: 0px;
            border-bottom: 20px;
            height: 20px;
        }
        
        .inputDate:focus {
            outline: 0px;
            /* color: #2575fc; */
        }
        
        .divcvv {
            position: relative;
            left: 270px;
            top: 140px;
        }
        
        .forcvv {
            position: relative;
            /* top: 180px;
            left: 35px; */
        }
        
        .inputcvv {
            position: relative;
            /* top: 210px;
            left: 10px; */
            border: 0px;
            border-bottom: 20px;
            height: 20px;
        }
        
        .inputcvv:focus {
            outline: 0px;
            /* color: #2575fc; */
        }
        
        .button {
            width: 250px;
            height: 50px;
            background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
            position: relative;
            top: 130px;
            left: 130px;
            margin-bottom: 300px;
            border-radius: 5px;
            font-size: 30px;
        }
        
        .gap {
            position: relative;
            top: -10px;
            left: -10px;
        }
        
        .inputphone {
            position: relative;
            top: 170px;
            left: -19px;
            border: 0px;
            border-bottom: 20px;
            height: 20px;
        }
        
        .inputphone:focus {
            outline: 0px;
            /* color: #2575fc; */
        }
        
        .phone {
            position: relative;
            left: 30px;
            top: 140px;
        }