input[type=text],
textarea {
    width: 250px;
}

label {
    color: black
}

form {
    color: black;
}

.forms {
    padding-top: 10px;
    margin-left: 10px;
}

.forms1 {
    padding-top: 10px;
    /* margin-left: 10px; */
}

.center1 {
    position: relative;
    left: 0%;
    top: -100%;
    width: 170px;
    height: 40px;
    border-radius: 10px;
}