.name {
    color: blue;
    font-size: 20px;
    position: relative;
    left: 30px;
    top: 30px;
}

.arrow {
    position: relative;
    top: 4px;
}

.rup {
    color: darkmagenta;
    position: relative;
    top: 29px;
    left: 50%;
    transform: translateX(-20%);
    font-size: 20px;
}

.but {
    position: absolute;
    left: 1020px;
    top: 0px;
    color: black;
    /* z-index: ; */
}

.title {
    position: relative;
    top: 30px;
    left: 500px;
    font-size: 40px;
    color: blue;
}

.fil {
    position: relative;
    top: -20px;
}