.box {
    /* background-color: #3a0150;    */
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    top: -300px;
    /* width: 90vw;
    height: 82vh;
    margin: 0px;
    position: relative;
    left: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    overflow-x: hidden; */
}

.apps {
    width: 90vw;
    height: 80vh;
    /* margin-top: 100px; */
    position: relative;
    left: -20px;
    top: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    overflow-x: hidden;
    margin-bottom: 0px;
}

.box1 {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    /* background-color: rgb(15, 202, 15); */
    width: 87vw;
    height: 40vh;
    margin: 0px;
    position: sticky;
    left: 20px;
    top: 40px;
    border-radius: 40px;
    z-index: 1;
}

.apps::-webkit-scrollbar {
    display: none;
}

.product {
    width: 200px;
    height: 250px;
    /* position: relative; */
    /* left: 140px;
    bottom: 100px; */
    z-index: 100;
    border-radius: 20px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    margin: 30px;
    /* margin-left: 100px */
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 0.1px solid black;
    position: relative;
    left: 15px;
    top: 15px;
}

.icon1 {
    position: relative;
    left: 6px;
    top: -23px;
}

.circle1 {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 0.1px solid black;
    position: relative;
    top: -19px;
    left: 150px;
}

.innerbox {
    width: 80%;
    height: 30%;
    background-color: green;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-radius: 20px;
    position: relative;
    left: 50%;
    top: -10px;
    transform: translateX(-50%)
}

.img {
    position: relative;
    top: -10px;
}

.name {
    position: relative;
    top: 20%;
    display: grid;
    justify-items: center;
    color: darkblue;
    font-size: 25px;
}

.rup {
    position: relative;
    top: 20%;
    /* left: 130px; */
    left: 50%;
    transform: translateX(-10%);
    color: blueviolet;
    font-size: 20px;
}

.search {
    width: 200px;
    height: 30px;
    /* background-color: #84fab0; */
    position: absolute;
    right: 90px;
    top: -2px;
    border: 2px solid #B809D5;
    border-radius: 10px;
}

.circle2 {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #B809D5;
    position: absolute;
    right: 10px;
    top: -2px;
}

.cont {
    position: relative;
    top: -50px;
    left: 40px;
    /* z-index: 100; */
}

.testsearch {
    position: relative;
    left: 10px;
    top: -25px;
}

.back {
    position: sticky;
    left: 40px;
    width: 1150px;
    height: 400px;
    top: -4px;
    z-index: -1;
    /* background-color: rgb(255, 255, 0); */
    background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
    border-radius: 50px;
}