.itemDetials {
    position: relative;
    top: -200px;
    left: 145px;
    width: 950px;
    height: 350px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    border-radius: 40px;
}

.back {
    position: sticky;
    left: 40px;
    width: 1150px;
    height: 300px;
    top: -4px;
    z-index: -1;
    /* background-color: rgb(255, 255, 0); */
    background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
    border-radius: 50px;
}

.bubble {
    border-radius: 50%;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
    height: 300px;
    position: absolute;
    width: 300px;
    left: 330px;
    /* left: 50%;
    transform: translateX(60%); */
    /* top: 170px; */
    top: 50%;
    transform: translateY(-50%);
    -webkit-animation: 5s ease-in-out 0s bubble;
    animation: 5s ease-in-out 0s bubble;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    z-index: 9;
}

.bubble:before {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    content: "";
    height: 300px;
    left: 2px;
    position: absolute;
    width: 300px;
    top: 0px;
}

.items {
    position: relative;
    /* top: -100px; */
    width: 200px;
    /* left: 50%;
    transform: translateX(-60%);
    top: 10px; */
    display: grid;
    align-items: center;
    left: 70px;
    top: 40px;
    /* transition: translatey(-50%); */
}

.headbox {
    /* background-color: green; */
    width: 300px;
    height: 330px;
    padding: 10px;
}

.head {
    width: 300px;
    height: 100px;
    display: flex;
    place-content: center;
    font-size: 40px;
    color: #7028e4;
    /* background-color: green; */
}

.itemabout {
    width: 300px;
    height: 100px;
    display: flex;
    place-content: center;
    font-size: 20px;
    color: green;
    /* background-color: green; */
}

.itemimgbox {
    width: 300px;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
    /* flex-direction: c; */
    /* background-color: green; */
}

.itemboximg {
    position: relative;
    top: 20px;
    width: 50px;
    height: 50px;
    background-color: green;
    /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
    margin: 10px;
    border-radius: 10px;
}

.headbox1 {
    /* background-color: green; */
    width: 300px;
    height: 330px;
    padding: 20px;
    padding-left: 50px;
    position: relative;
    left: 630px;
    top: -350px;
    /* background-color: green; */
    /* opacity: 0.2; */
}

.Rating {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.Star {
    position: relative;
    top: 5px;
}

.rup {
    font-size: 30px;
    color: rgb(223, 25, 147);
    position: relative;
    display: grid;
    align-items: center;
    align-content: center;
}

.itemboximg1 {
    position: relative;
    top: -35px;
    left: -10px;
    width: 30px;
    height: 30px;
    background-color: green;
    /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
    margin: 10px;
    border-radius: 5px;
}

.Kg {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
    position: relative;
    top: -100px;
}

.itemboximg2 {
    position: relative;
    top: -35px;
    left: -10px;
    width: 40px;
    height: 30px;
    background-color: antiquewhite;
    /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
    margin: 10px;
    border-radius: 5px;
    color: black;
}

.center {
    position: relative;
    left: 30%;
    top: 10%;
}

.itemimgbox1 {
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-direction: c; */
    /* background-color: green; */
}

.button {
    width: 140px;
    height: 40px;
    background-color: black;
    position: relative;
    top: -480px;
    left: 700px;
    border-radius: 10px;
    color: yellow;
}

.center1 {
    position: relative;
    left: 20%;
    top: 20%;
}

.box {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px;
    margin-top: 200px;
    margin-bottom: 0px; */
    position: relative;
    top: 150px;
}

.title {
    position: relative;
    font-size: 40px;
    left: 500px;
    top: 10px;
    color: #7028e4;
}

.itemscss {
    position: relative;
    top: -65px;
    left: -40px;
}

.Kgfont {
    color: rgb(69, 42, 224);
    font-size: 30px;
}

.but {
    position: relative;
    left: -0px;
    width: 50px;
    height: 30px;
}