@-webkit-keyframes obj {
    100% {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
        top: 40px;
    }
}

@keyframes obj {
    100% {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
        transform: rotate3d(0, 0, 0, 0deg);
        top: 40px;
    }
}

@-webkit-keyframes bubble {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    25% {
        -webkit-transform: translate(-4px, -6px);
        transform: translate(-4px, -6px);
    }
    85% {
        -webkit-transform: translate(4px, 6px);
        transform: translate(4px, 6px);
    }
    100% {
        -webkit-transform: translate(0vw, 0vh);
        transform: translate(0vw, 0vh);
    }
}

@keyframes bubble {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    25% {
        -webkit-transform: translate(-4px, -6px);
        transform: translate(-4px, -6px);
    }
    85% {
        -webkit-transform: translate(4px, 6px);
        transform: translate(4px, 6px);
    }
    100% {
        -webkit-transform: translate(0vw, 0vh);
        transform: translate(0vw, 0vh);
    }
}

@-webkit-keyframes cha {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    15% {
        -webkit-transform: translate(0px, -20px);
        transform: translate(0px, -20px);
    }
    25% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    35% {
        -webkit-transform: translate(0px, -60px);
        transform: translate(0px, -60px);
    }
    45% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    55% {
        -webkit-transform: translate(0px, -100px);
        transform: translate(0px, -100px);
    }
    65% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    75% {
        -webkit-transform: translate(0px, -150px);
        transform: translate(0px, -150px);
    }
    85% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

@keyframes cha {
    0% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    15% {
        -webkit-transform: translate(0px, -20px);
        transform: translate(0px, -20px);
    }
    25% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    35% {
        -webkit-transform: translate(0px, -60px);
        transform: translate(0px, -60px);
    }
    45% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    55% {
        -webkit-transform: translate(0px, -100px);
        transform: translate(0px, -100px);
    }
    65% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    75% {
        -webkit-transform: translate(0px, -150px);
        transform: translate(0px, -150px);
    }
    85% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

html {
    background-color: #B809D5;
}

body {
    margin: 0;
    color: aliceblue;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #3a0150;
    width: 90vw;
    height: 90vh;
    border-radius: 20px;
    -webkit-box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
}

.container {
    margin: 20px;
    position: relative;
}

nav {
    margin-left: 20px;
}

nav span {
    color: #eb02df;
    font-size: 25px;
    font-weight: 300;
}

nav ul {
    display: inline;
}

nav ul li {
    display: inline;
    margin: 2%;
}

nav ul a {
    display: inline;
    padding: 8px;
    color: aliceblue;
    text-decoration: none;
}

nav ul a:hover {
    background-color: #d460a0;
    text-decoration: underline;
    -webkit-text-decoration-color: #eb02df;
    text-decoration-color: #eb02df;
    border-radius: 10px;
}

.con {
    position: absolute;
    top: 25vh;
    margin-left: 7vw;
}

.con .hello {
    font-size: 35px;
    margin: 10px;
    margin-bottom: 1px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.con .wel {
    font-size: 50px;
    color: #eb02df;
    margin: 10px;
    margin-top: 1px;
}

.con .para {
    margin: 10px;
    margin-top: 50px;
}

.con .para p {
    color: bisque;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.con .para span {
    color: #eb02df;
    font-weight: 300;
}

.next:hover,
.pre:hover {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}

.pre {
    left: 30px;
}

.next {
    right: 30px;
}

.active {
    text-decoration: underline;
    -webkit-text-decoration-color: #eb02df;
    text-decoration-color: #eb02df;
    text-decoration-thickness: 20%;
}

.c {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: -webkit-gradient(linear, left top, right top, from(#B809D5), color-stop(99.99%, rgba(13, 12, 13, 0.666667)), to(rgba(14, 13, 14, 0)));
    background: linear-gradient(90deg, #B809D5 0%, rgba(13, 12, 13, 0.666667) 99.99%, rgba(14, 13, 14, 0) 100%);
}

.c .cir {
    background-color: black;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50px;
    border-left-color: linear-gradient(90deg, #B809D5 0%, rgba(13, 12, 13, 0.666667) 99.99%, rgba(14, 13, 14, 0) 100%);
}

.c .cir .tri {
    position: absolute;
    top: 12px;
    left: 5px;
    width: 0px;
    height: 0px;
    border-top: 0px;
    border-bottom: 20px solid;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    border-bottom-color: #eb02df;
}

.pos1 {
    position: absolute;
    top: 73vh;
    left: 8vw;
}

.pos2 {
    position: absolute;
    top: 81vh;
    left: 21vw;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.back {
    width: 200px;
    height: 200px;
    position: relative;
    top: 30vh;
    left: 60vw;
}

.back:hover .div {
    -webkit-animation: 2s ease-in-out 0s obj;
    animation: 2s ease-in-out 0s obj;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.back:hover .div1 {
    -webkit-animation: 2s ease-in-out 0s obj;
    animation: 2s ease-in-out 0s obj;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.back:hover .div2 {
    -webkit-animation: 2s ease-in-out 0s obj;
    animation: 2s ease-in-out 0s obj;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.div {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate3d(25, -5, 9, 45deg);
    transform: rotate3d(25, -5, 9, 45deg);
    /*   border:10px; */
    /*   border-color:red; */
    z-index: 3;
}

.div1 {
    width: 200px;
    height: 200px;
    top: 50px;
    position: absolute;
    background-color: blue;
    -webkit-transform: rotate3d(25, -5, 9, 45deg);
    transform: rotate3d(25, -5, 9, 45deg);
    /*   border:10px; */
    z-index: 2;
}

.div2 {
    width: 200px;
    height: 200px;
    background-color: black;
    position: absolute;
    top: 90px;
    -webkit-transform: rotate3d(25, -5, 9, 45deg);
    transform: rotate3d(25, -5, 9, 45deg);
    z-index: 1;
}

.bubble {
    border-radius: 50%;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
    height: 200px;
    position: absolute;
    width: 200px;
    left: 4vw;
    top: 17vh;
    -webkit-animation: 5s ease-in-out 0s bubble;
    animation: 5s ease-in-out 0s bubble;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.bubble:after {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    content: "";
    height: 180px;
    left: 10px;
    position: absolute;
    width: 180px;
}

.login {
    position: absolute;
    left: 20px;
    bottom: 10px;
    height: 40px;
    width: 150px;
    background-color: #B809D5;
    border-color: #B809D5;
    border-radius: 20px;
}

.login button {
    border-radius: 20px;
    position: relative;
    left: 0px;
    top: -40px;
    height: 40px;
    width: 150px;
    background-color: #B809D5;
    border-color: #B809D5;
}

.cha {
    position: absolute;
    left: 70px;
    bottom: 0px;
    width: 40px;
    height: 40px;
    background-color: #B809D5;
    border-color: #B809D5;
    border-radius: 40px;
    /* -webkit-animation: 5s ease-in-out 0s cha; */
    /* animation: 5s ease-in-out 0s cha ; */
}

.cha button {
    /* background-color: aqua; */
    /* font-size: 0px; */
    display: none;
}

.logs {
    width: 600px;
    height: 500px;
    /* background-color: rgba(0, 0, 0, 0.25); */
    background-color: #29e752;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    border: 20px;
    border-color: rgba(0, 0, 0, 0.55);
    border-radius: 20px;
    position: relative;
    top: -185px;
    left: -300px;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
}

.logs::-webkit-scrollbar {
    display: none;
}


/*# sourceMappingURL=index.css.map */