.sales {
    font-size: 45px;
    margin-top: 80px;
    margin-bottom: 10px;
    font-family: "Courier New", Courier, monospace;
    content: "î¢¹";
}

.salesp {
    margin-left: 10px;
    font-size: 25px;
    color: aqua;
}

.column {
    float: left;
    width: 50%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.login {
    position: relative;
    left: 100px;
    top: 100px;
    height: 40px;
    width: 150px;
    background-color: #B809D5;
    border-color: #B809D5;
    border-radius: 20px;
}

.lets {
    position: absolute;
    display: center;
    left: 23px;
    bottom: 20%;
    color: gainsboro;
    font-size: 20px;
    font-weight: 400;
}

svg {
    margin-top: 30px;
}